# Problem statement

Go to URL: https://www.bseindia.com/stock-share-price/ashok-leyland-ltd/ashokley/500477/corp-announements/
        
        
Step1: Give the parameters as shown using selenium or without using selenium
Step2: After passing the parameters click submit
Step3: Download the PDF using the pdf button.
Step4: After Downloading, read the 2 tables in PDF using python in ipynb format.

# Importing the libraries

In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import tabula
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys 
import os
import shutil
import time

# Setting chrome options to download pdf without clicking

In [2]:
chrome_options = Options()
chrome_options.add_experimental_option('prefs',  {
    "download.default_directory": 'C:\\Users\\akash\\Downloads',
    "download.prompt_for_download": False,
    "download.directory_upgrade": True,
    "plugins.always_open_pdf_externally": True
    }
)

driver = webdriver.Chrome(options=chrome_options)

# Navigating the URL

In [3]:
driver.get("https://www.bseindia.com/stock-share-price/ashok-leyland-ltd/ashokley/500477/corp-announements/")

## Changing the Segment to Equity

In [4]:
select = Select(driver.find_element_by_id('ddlAnnType'))
select.select_by_visible_text('Equity')

## Changing the Category type to Company Update

In [5]:
select = Select(driver.find_element_by_id('ddlPeriod'))
select.select_by_visible_text('Company Update')

## Changing the date values for From Date

##### We will first remove the auto filled date values for From Date field

In [6]:
fromDate = driver.find_element_by_id('txtFromDt')
fromDate.click()
fromDate.send_keys(Keys.CONTROL, "a") 
fromDate.send_keys(Keys.BACKSPACE)

##### Changing the month value

In [7]:
clk = driver.find_element_by_xpath("//*[@id='txtFromDt']")
time.sleep(2)
        
fromMonth = driver.find_element_by_xpath("//*[@id='ui-datepicker-div']/div/div/select[1]")
selectedFromMonth = Select(fromMonth)
selectedFromMonth.select_by_visible_text("Jan")
time.sleep(2)

##### Changing the year value

In [8]:
fromYear = driver.find_element_by_xpath("//*[@id='ui-datepicker-div']/div/div/select[2]")
selectedFromYear = Select(fromYear)
selectedFromYear.select_by_visible_text("2021")
time.sleep(2)

##### Changing the Day value

In [9]:
fromDay = driver.find_element_by_xpath("//*[@id='ui-datepicker-div']/table/tbody/tr[1]/td[6]/a")
fromDay.send_keys("1")
fromDay.click()

## Changing the date values for To Date

##### We will first remove the auto filled date values for To Date field

In [10]:
toDate = driver.find_element_by_id('txtToDt')
toDate.click()
toDate.send_keys(Keys.CONTROL, "a")
toDate.send_keys(Keys.BACKSPACE)

##### Changing the month value

In [11]:
clk_to = driver.find_element_by_xpath("//*[@id='txtToDt']")
time.sleep(2)
        
toMonth = driver.find_element_by_xpath("//*[@id='ui-datepicker-div']/div/div/select[1]")
selectedFromMonth = Select(toMonth)
selectedFromMonth.select_by_visible_text("Jan")
time.sleep(2)

##### Changing the year value

In [12]:
toYear = driver.find_element_by_xpath("//*[@id='ui-datepicker-div']/div/div/select[2]")
selectedFromYear = Select(toYear)
selectedFromYear.select_by_visible_text("2021")
time.sleep(2)

##### Changing the date value

In [13]:
toDay = driver.find_element_by_xpath("//*[@id='ui-datepicker-div']/table/tbody/tr[1]/td[6]/a")
toDay.send_keys("1")
toDay.click()

# Click on Submit button

In [14]:
submit_button = driver.find_element_by_xpath("//*[@id='btnSubmit']")
submit_button.click()

##### We have added sleep time to get the pdf generated and then we will click on the pdf link using xpath

In [15]:
time.sleep(1)
pdf = driver.find_element_by_xpath("//*[@id='lblann']/table/tbody/tr[4]/td/table/tbody/tr[1]/td[3]/a/i").click()

##### Adding 5 seconds of sleep time to let the pdf download and then renaming the pdf to Ashok_Leylands using shutil library of python once it is downloaded

In [16]:
time.sleep(5)
filename = max(['C:\\Users\\91982\\Downloads' + "\\" + f for f in os.listdir('C:\\Users\\akash\\Downloads')],key=os.path.getctime)
shutil.move(filename,os.path.join('C:\\Users\\akash\\Downloads',r"Ashok_Leylands.pdf"))

'C:\\Users\\91982\\Downloads\\Ashok_Leylands.pdf'

# Using tabula package of python to read pdf and tables

##### We have 2 pages in our pdf and we need to read the both tables from our pdf so we will give multiple tables option as True, pdf name, number of pages as 2 and give header as row 1

In [17]:
table = tabula.read_pdf("Ashok_Leylands.pdf",pages=2,multiple_tables=True,pandas_options={'header': 1})

### Printing the first table 1

In [18]:
table[0]

         CATEGORY   Dec'20 Dec'19 Inc / (Dec)  Dec'20.1 Dec'19 Inc / (Dec).1
0             NaN      NaN      For the month       NaN           Cumulative
1             NaN      NaN                NaN       NaN                  NaN
2    M&HCV Trucks   5930.0           3809 56%   21349.0          42824 (50%)
3       M&HCV Bus    245.0         2560 (90%)     842.0          13405 (94%)
4     Total M&HCV   6175.0          6369 (3%)   22191.0          56229 (61%)
5             NaN      NaN                NaN       NaN                  NaN
6             LCV   5682.0           4009 42%   29629.0          36855 (20%)
7  Total Vehicles  11857.0          10378 14%   51820.0          93084 (44%)

### Printing the first table 2

In [19]:
table[1]

         CATEGORY   Dec'20 Dec'19 Inc / (Dec)  Dec'20.1 Dec'19 Inc / (Dec).1
0             NaN      NaN      For the month       NaN           Cumulative
1             NaN      NaN                NaN       NaN                  NaN
2    M&HCV Trucks   6235.0           3958 58%   22690.0          44386 (49%)
3       M&HCV Bus    649.0         3067 (79%)    2842.0          17268 (84%)
4     Total M&HCV   6884.0          7025 (2%)   25532.0          61654 (59%)
5             NaN      NaN                NaN       NaN                  NaN
6             LCV   5878.0           4143 42%   31125.0          38095 (18%)
7  Total Vehicles  12762.0          11168 14%   56657.0          99749 (43%)

##### Dropping the NA values from the dataframe

# Final Output

In [20]:
table[0].dropna()

         CATEGORY   Dec'20 Dec'19 Inc / (Dec)  Dec'20.1 Dec'19 Inc / (Dec).1
2    M&HCV Trucks   5930.0           3809 56%   21349.0          42824 (50%)
3       M&HCV Bus    245.0         2560 (90%)     842.0          13405 (94%)
4     Total M&HCV   6175.0          6369 (3%)   22191.0          56229 (61%)
6             LCV   5682.0           4009 42%   29629.0          36855 (20%)
7  Total Vehicles  11857.0          10378 14%   51820.0          93084 (44%)

In [21]:
table[1].dropna()

         CATEGORY   Dec'20 Dec'19 Inc / (Dec)  Dec'20.1 Dec'19 Inc / (Dec).1
2    M&HCV Trucks   6235.0           3958 58%   22690.0          44386 (49%)
3       M&HCV Bus    649.0         3067 (79%)    2842.0          17268 (84%)
4     Total M&HCV   6884.0          7025 (2%)   25532.0          61654 (59%)
6             LCV   5878.0           4143 42%   31125.0          38095 (18%)
7  Total Vehicles  12762.0          11168 14%   56657.0          99749 (43%)