# Problem statement

Get the Client Funding Report from dropdown for the date “27th July 2016” and save it as a data frame

URL : https://www1.nseindia.com/products/content/equities/equities/archieve_eq.htm

# Importing the libraries

In [6]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import Select
import time
import os
import shutil
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import pandas as pd

# Setting chrome options to download pdf without clicking

In [22]:
chrome_options = Options()
chrome_options.add_experimental_option('prefs',  {
    "download.default_directory": 'C:\\Users\\akash\\Downloads',
    "download.prompt_for_download": False,
    "download.directory_upgrade": True,
    "plugins.always_open_pdf_externally": True
    }
)

driver = webdriver.Chrome(options=chrome_options)

# Navigating the URL

In [23]:
driver.get("https://www1.nseindia.com/products/content/equities/equities/archieve_eq.htm")

## Changing the Report type to Client Funding

In [24]:
select_report_type = Select(driver.find_element_by_id('h_filetype'))
select_report_type.select_by_visible_text('Client Funding')

## Setting the Date value as “27th July 2016”

In [25]:
date_value = driver.find_element_by_xpath("//input[@class='textboxdata hasDatepicker' and @id='date']").send_keys("27-07-2016")

In [26]:
clk = driver.find_element_by_xpath("//*[@id='ui-datepicker-div']/table/tbody/tr[5]/td[4]/a")
clk.click()

## Clicking on Get Data button

In [27]:
time.sleep(5)
get_data = driver.find_element_by_xpath("//*[@id='wrapper_btm']/div[1]/div[4]/div/div[1]/div/div[4]/input[3]").click()

In [29]:
time.sleep(5)
filename = max(['C:\\Users\\91982\\Downloads' + "\\" + f for f in os.listdir('C:\\Users\\akash\\Downloads')],key=os.path.getctime)
shutil.move(filename,os.path.join('C:\\Users\\akash\\Downloads',r"NSE_Report.csv"))

'C:\\Users\\91982\\Downloads\\NSE_Report.csv'

## Reading csv file using pandas

In [33]:
nse = pd.read_csv("NSE_Report.csv",skiprows=2)

In [35]:
nse.head()

,Serial No,Member Code,Member Name,Month,Year,Amount Funded For Temporary Margin,Amount Funded For Institutional Clients,Amount Funded For Non-Institutional Clients,Amount Funded Under Margin Trading,Total Amount Funded,Total No Of Clients Funded
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11297.0,SWASTIKA INVESTMART LIMITED,JUL,2016.0,0.00,0.0,219.96,0.0,219.96,157.0
2,2,13459.0,O3 SECURITIES PRIVATE LIMITED,JUL,2016.0,6.50,0.0,2.90,0.0,9.40,6.0
3,3,14300.0,5PAISA CAPITAL LIMITED,JUL,2016.0,601.35,0.0,1.81,0.0,603.16,16.0
4,4,8232.0,JHAVERI SECURITIES LIMITED,JUL,2016.0,0.00,0.0,376.86,0.0,376.86,209.0

In [41]:
nse.drop(index=nse.index[0],axis=0,inplace=True)
nse.head()

,Serial No,Member Code,Member Name,Month,Year,Amount Funded For Temporary Margin,Amount Funded For Institutional Clients,Amount Funded For Non-Institutional Clients,Amount Funded Under Margin Trading,Total Amount Funded,Total No Of Clients Funded
1,1,11297.0,SWASTIKA INVESTMART LIMITED,JUL,2016.0,0.00,0.0,219.96,0.0,219.96,157.0
2,2,13459.0,O3 SECURITIES PRIVATE LIMITED,JUL,2016.0,6.50,0.0,2.90,0.0,9.40,6.0
3,3,14300.0,5PAISA CAPITAL LIMITED,JUL,2016.0,601.35,0.0,1.81,0.0,603.16,16.0
4,4,8232.0,JHAVERI SECURITIES LIMITED,JUL,2016.0,0.00,0.0,376.86,0.0,376.86,209.0
5,5,13232.0,DBFS SECURITIES LIMITED,JUL,2016.0,1136.00,0.0,0.00,0.0,1136.00,891.0

# Final Output

In [42]:
nse.head()

,Serial No,Member Code,Member Name,Month,Year,Amount Funded For Temporary Margin,Amount Funded For Institutional Clients,Amount Funded For Non-Institutional Clients,Amount Funded Under Margin Trading,Total Amount Funded,Total No Of Clients Funded
1,1,11297.0,SWASTIKA INVESTMART LIMITED,JUL,2016.0,0.00,0.0,219.96,0.0,219.96,157.0
2,2,13459.0,O3 SECURITIES PRIVATE LIMITED,JUL,2016.0,6.50,0.0,2.90,0.0,9.40,6.0
3,3,14300.0,5PAISA CAPITAL LIMITED,JUL,2016.0,601.35,0.0,1.81,0.0,603.16,16.0
4,4,8232.0,JHAVERI SECURITIES LIMITED,JUL,2016.0,0.00,0.0,376.86,0.0,376.86,209.0
5,5,13232.0,DBFS SECURITIES LIMITED,JUL,2016.0,1136.00,0.0,0.00,0.0,1136.00,891.0